node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

#IDEA
.vscode
.idea

# private keys are part of these files
.env
google-services.json

#builds
ios/
android/
